media/*
adviserapi/media/*
*.pyc
.idea
.DS_Store
*.rdb
*/.cache
*.swp
*.dump
.gitignore
staticfiles/*
db.sqlite3
celerybeat-schedule
celerybeat.pid
logs/*
.credentials/drive-python-quickstart.json
client_secret.json
cloudvision.json
*.pdf
*.envrc
*.python-version
